html,
body {
  height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 3.0rem;
  /* padding-top: 3.0rem; */
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

main {
  min-height: 84vmin;
  overflow-y: auto;
}

.save-blog {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*  */
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

textarea {
  width: 100%;
  height: 100px;
}


.outline-deco {
  color: var(--bs-white);
  font-size: larger;
  text-shadow: -1px 0 blue, 0 1px coral, 1px 0 coral, 0 -1px coral;
}
/*  */
.no-display {
  display: none;
}
@media screen and (max-width: 768px) {
  main {
    height: 97%;
  }
}

/*  */
.blog-textarea,
.blog-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
}

.blog-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.blog-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.blog-title:read-only,
.blog-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
  padding-right: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}

.fluid-container {
  width: 100%;
}

.left-pad {
  padding-left: 2%;
}

#blogImage {
  margin-top: 2%;
}

#blogTitleElement {
  padding-top: 2%;
  padding-bottom: 3%;
}